@model PagedList.IPagedList<PremptyWorkSpace.Models.ControlHsViewModel>
@using PagedList.Mvc;
@using PremptyWorkSpace.Models;

@{
    ViewBag.Title = "Gerente";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<div class="subnavbar">
    <div class="subnavbar-inner">
        <div class="container">
            <ul class="mainnav">
                <li><a href="~/Menu/Select"><i class="shortcut-icon icon-user"></i><span>Empleado</span> </a></li>
                <li class="active"><a href="~/Control/Index"><i class="shortcut-icon icon-dashboard"></i><span>Control de asistencias</span> </a></li>
                <li><a href="~/Estadistica/Index"><i class="shortcut-icon  icon-signal"></i><span>Estadisticas</span> </a></li>


            </ul>
        </div>
        <!-- /container -->
    </div>
    <!-- /subnavbar-inner -->
</div>
<!-- /widget-header -->
<div class="container">
    <div class="row">
        <div class="span12">
            <div id="target-1" class="widget">
                <div class="widget-content">
                    @using (Html.BeginForm("Index", "Control"))
                    {
                        <div class="shortcuts">
                            <div class="display-label">
                                <ul>
                                    <h3>Información de control de horas</h3>
                                </ul>
                            </div>
                            @Html.DropDownList("IdArea", null, "Seleccione Area..", null)
                            @Html.TextBox("FechaInicio", null, new { @placeholder = "Fecha de inicial", type = "datetime", @required = "true" })
                            @Html.TextBox("FechaFin", null, new { @placeholder = "Fecha de fin", type = "datetime", @required = "true" })
                            <ul>
                            </ul>
                            <div>
                                <input type="submit" name="Visualizar" value="Filtrar" class="btn btn-danger ingresar" />
                            </div>
                        </div>
                        <!-- /shortcuts -->
                    }
                </div>
                <!-- /widget-content -->
            </div>
        </div>
    </div>

    <body>

        @if (Model != null)
        {   
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div id="target-1" class="widget">
                            <div class="widget widget-table action-table">
                                <div class="widget-header">
                                    <i class="icon-th-list"></i>
                                    <h3>Listado de Asistencia de Empleados</h3>
                                    <div class="nav pull-right">
                                        @Html.ActionLink(" Descargar ", "Download", "Control", new {IdArea = ViewBag.IdAreaSeleccionada,FechaInicio = ViewBag.FechaInicio, FechaFin = ViewBag.FechaFin }, new { @class = "btn btn-danger ingresar" })
                                    </div>
                                </div>

                                <div class="widget-content">

                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <div class="display-label">
                                                       Nombre
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="display-label">
                                                        Apellido
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="display-label">
                                                        Cantidad de ingresos
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Nombre)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Apellido)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CantIngresos)
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                    <div class="dbuscar">
                                        Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                                        de @Model.PageCount
                                        &nbsp; 



    @if (Model.HasPreviousPage)
    { 
        @Html.ActionLink("<<", "Filter", new
   {
       IdArea = ViewBag.IdAreaSeleccionada,
       FechaInicio = ViewBag.FechaInicio,
       FechaFin = ViewBag.FechaFin,
       page = 1
   })

        @Html.Raw("&nbsp;"); 
        @Html.ActionLink("< Anterior", "Filter", new
   {
       IdArea = ViewBag.IdAreaSeleccionada,
       FechaInicio = ViewBag.FechaInicio,
       FechaFin = ViewBag.FechaFin,
       page = Model.PageNumber - 1
   })
    }
    else
    { 
        @:<< 
        @Html.Raw("&nbsp;"); 
        @:< Anterior 
    }
                                        &nbsp; 
    @if (Model.HasNextPage)
    { 
        @Html.ActionLink("Próximo >", "Filter", new
   {

       IdArea = ViewBag.IdAreaSeleccionada,
       FechaInicio = ViewBag.FechaInicio,
       FechaFin = ViewBag.FechaFin,
       page = Model.PageNumber + 1
   })

        @Html.Raw("&nbsp;"); 
        @Html.ActionLink(">>", "Filter", new
   {
       IdArea = ViewBag.IdAreaSeleccionada,
       FechaInicio = ViewBag.FechaInicio,
       FechaFin = ViewBag.FechaFin,
       page = Model.PageCount

   })
    }
    else
    { 
        @:Proximo > 
        @Html.Raw("&nbsp;") 
        @:>> 
    }
                                    </div>

                                </div>
                                <!-- /widget-content -->
                            </div>
                            <!-- /shortcuts -->

                        </div>

                        <!-- /widget-content -->
                    </div>
                </div>
            </div>
        }
    </body>


</div>


<script type="text/javascript">
    $(document).ready(function () {
        $.datepicker.regional['es'] = {
            closeText: 'Cerrar',
            prevText: '<Ant',
            nextText: 'Sig>',
            currentText: 'Hoy',
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
            dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
            weekHeader: 'Sm',
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
        };
        $.datepicker.setDefaults($.datepicker.regional['es']);

        $(function () {
            $("#FechaInicio").datepicker({
                //minDate: "dateToday",
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/mm/yy',
                onClose: function (selectedDate, instance) {
                    if (selectedDate != '') { //added this to fix the issue
                        $("#FechaFin").datepicker("option", "minDate", selectedDate);
                        var date = $.datepicker.parseDate(instance.settings.dateFormat, selectedDate, instance.settings);
                        date.setMonth(date.getMonth() + 3);
                        console.log(selectedDate, date);
                        $("#FechaFin").datepicker("option", "minDate", selectedDate);
                        //$("#FechaFin").datepicker("option", "maxDate", date);
                    }
                }
            });
            $("#FechaFin").datepicker({
                minDate: "dateToday",
                changeMonth: true,
                dateFormat: 'dd/mm/yy',
                onClose: function (selectedDate) {
                    $("#FechaInicio").datepicker("option", "maxDate", selectedDate);
                }
            });
        });


    });

</script>
