@model PremptyWorkSpace.Models.Licencias

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<div class="account-container register">

    <div class="content clearfix">

        <div class="login-fields">
            <h2>Detalles de la licencia</h2>

            <div class="alert alert-info">
                @Html.DisplayNameFor(model => model.Usuarios.Nombre):
       
                @Html.DisplayFor(model => model.Usuarios.Nombre)
            </div>

            <div class="alert alert-info">
                @Html.DisplayNameFor(model => model.Fecha):
        
                @Html.DisplayFor(model => model.Fecha)
            </div> 
            <div class="alert alert-info">
                @Html.DisplayNameFor(model => model.MotivoLicencia.Descripcion):

                @Html.DisplayFor(model => model.MotivoLicencia.Descripcion)
            </div>

            <div class="alert alert-info">
                @Html.DisplayNameFor(model => model.Descripcion):
         
                @Html.DisplayFor(model => model.Descripcion)
            </div>


        </div>
        @using (Html.BeginForm())
        {
            <div class="form-actions">
                <a href="~/Licencias/Index">
                    <input type="button" value="Volver" class="btn btn-danger ingresar" /></a>
                <input type="submit" value="Eliminar" class=" btn btn-danger ingresar" />
            </div>
        }
    </div>
</div>

