@model PremptyWorkSpace.Models.Licencias

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css" />
<div class="account-container register">

    <div class="content clearfix">

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <div class="login-fields">
                <h2>Editar usuario</h2>


                <div class="field">
                    @Html.LabelFor(model => model.IdUsuario, "Usuarios")

                    @Html.DropDownList("IdUsuario", String.Empty)
                    @Html.ValidationMessageFor(model => model.IdUsuario)
                </div>

                <div class="field">
                    @Html.LabelFor(model => model.FechaInicio)

                    @Html.EditorFor(model => model.FechaInicio)
                    @Html.ValidationMessageFor(model => model.FechaInicio)
                </div>

                <div class="field">
                    @Html.LabelFor(model => model.FechaFin)

                    @Html.EditorFor(model => model.FechaFin)
                    @Html.ValidationMessageFor(model => model.FechaFin)
                </div>
                <div class="field">
                    @Html.LabelFor(model => model.Motivo, "MotivoLicencia")

                    @Html.DropDownList("Motivo", String.Empty)
                    @Html.ValidationMessageFor(model => model.Motivo)
                </div>

                <div class="field">
                    @Html.LabelFor(model => model.Descripcion)

                    @Html.EditorFor(model => model.Descripcion)
                    @Html.ValidationMessageFor(model => model.Descripcion)
                </div>

                <div class="field">
                    @Html.LabelFor(model => model.Estado)

                    @Html.EditorFor(model => model.Estado)
                    @Html.ValidationMessageFor(model => model.Estado)
                </div>
            </div> 
            <div class="login-actions">

                <input id="Ingresar" type="submit" value="Ingresar" class="button btn btn-success btn-large ingresar" />

            </div>
        }
         @Html.ActionLink("Volver al listado", "Index")
    </div>
</div>


