<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>@ViewBag.Title</title>
    @*  <link href="@Url.Content("~/css/estilos.css")" rel="Stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/font-awesome.css")" rel="stylesheet"/>
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/pages/signin.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/css/pages/dashboard.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600")" rel="stylesheet"/>
    <link href="@Url.Content("~/css/jquery-ui.css")" rel="stylesheet" type="text/css" />


    <link rel="shortcut icon" href="~/img/icons/favicon5.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/img/icons/favicon4.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/img/icons/favicon3.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/img/icons/favicon2.png">
    <link rel="apple-touch-icon-precomposed" href="~/img/icons/favicon1.png" />

    <script src=@Url.Content("~/js/jquery-3.0.0.min.js")></script>
    <script src=@Url.Content("~/js/jquery-ui.js")></script>
    <script src=@Url.Content("~/js/jquery-1.7.2.min.js")></script>
    <script src=@Url.Content("~/js/bootstrap.js")></script>
    <script src=@Url.Content("~/js/signin.js")></script>
    <script src=@Url.Content("~/js/base.js")></script>
    <script src=@Url.Content("~/js/faq.js")></script>
    <script src=@Url.Content("~/js/base.js")></script>
    <script src=@Url.Content("~/js/jquery-ui-1.9.1.custom.js")></script>
    <script src=@Url.Content("~/js/jquery.validate.js")></script>
    <script src=@Url.Content("~/js/canvasjs.min.js")></script>

    @RenderSection("estilos", required: false)

    @RenderSection("javaScript", required: false)
</head>
<body>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="nav pull-left">
                    <img src="~/img/logo1.png" />
                </div>
                <div class="nav-collapse">

                    <ul class="nav pull-right">

                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                            class="icon-user"></i>Bienvenido @Session["sesNombCompleto"]<b class="caret"></b></a>
                            <ul class="dropdown-menu">

                                <li><a href="@Url.Content("/Home/Logout/")">Salir</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
                <!--/.nav-collapse -->
            </div>
            <!-- /container -->
        </div>
        <!-- /navbar-inner -->
    </div>


    @RenderBody()

</body>
</html>

