
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/css/estilos.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/font-awesome.css")" rel="stylesheet"/>
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/pages/signin.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/css/pages/dashboard.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600")" rel="stylesheet"/>
    <link href="@Url.Content("~/css/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/jquery-ui.structure.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/jquery-ui.theme.css")" rel="stylesheet" />
    <script src=@Url.Content("~/js/jquery-3.0.0.min.js")></script>
    <script src=@Url.Content("~/js/jquery-ui.js")></script>
    <script src=@Url.Content("~/js/jquery-1.7.2.min.js")></script>
    <script src=@Url.Content("~/js/bootstrap.js")></script>
    <script src=@Url.Content("~/js/signin.js")></script>
    <script src=@Url.Content("~/js/excanvas.min.js")></script>
    <script src=@Url.Content("~/js/chart.min.js")></script>
    <script src=@Url.Content("~/js/base.js")></script>
    <script src=@Url.Content("~/js/faq.js")></script>
    <script src=@Url.Content("~/js/base.js")></script>
    <script src=@Url.Content("~/js/jquery-ui-1.9.1.custom.js")></script>
    <script src=@Url.Content("~/js/jquery.validate.js")></script>
    

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @RenderSection("JavaScript", required: false)
</head>
<body>
    @RenderBody()


    @RenderSection("scripts", required: false)
</body>
</html>







